

    <!-- include the header file  -->
    <!-- important****** here include garda <% paxi "-" xa hai khyal gara  -->
    <!-- tyo hyphan - le garda html code display vayo natra ta purai html element nai display hunxa  -->

    <!-- <%- include('./common/header.ejs')%> -->
    <div class="images">
        <img src="../folderhtml/avatar.jpg" height="250px" width="250px"  alt="">
        <h2>This is Login page  </h2>
    </div>
